aside{
    float: right;
    width:25%;
}
aside h3{
    
    padding: 20px;
}
aside p{
    line-height: 1.5rem;
    margin-right:30px;
}
aside ul li{
    font-size: 1.1rem;
    line-height: 1.6rem;
    list-style: none;
    padding: 3px 0px 3px 0px;
}
aside ul {
    padding: 0px 20px 0px 20px;
}
