.socialMedia{
    float: right;
    padding-right: 40px;
    margin-top: 10px;
}
.fa {
  padding: 20px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
    background:#007bb5;
    color: white;
}
.avatar img{
    background-image: url(avatar.jpg);
    width: 20%;
    float: right;
    padding:0px 20px;
}
.author-info,h1,h2,h3{
    color:#333;
   
}
h1{
 text-align: center;
 color:red;
}
.author-info,p{
    padding:0px 20px;
}

.contactH3{
  font-family: Segoe UI;
  font-size: 14px;
  text-align: end;
  color:gray;
}