header{
    background-color : 333;
    }
        
    header nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:30px;
    }
    .logo{
        color:#fff;
        cursor: pointer;   
        margin-right: auto;
    }
    
    header nav a{
        padding: 10px;
        color:#fff;
        text-decoration: none;
        
    } 
    header nav a:hover{
        color: orangered;
    }