main{
    float: left;
    width:70%;
}

main p {
     font-size:1.1rem ;
     line-height: 1.6rem;
     cursor: pointer;;
}
section{
    padding:20px;
}
section h2{
    color: red;
    padding:15px 0px 15px 0px;
}
.sectiontwo p:hover{
    color:yellowgreen;
}
.sectiontree{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.sectionfive p{
    font-style: italic;
}
.sectiontree p:hover{
    color:aqua;
}

.sectionfour p:hover{
    color:chocolate;
}

.sectionfive p:hover{
    color:gold;
}

.sectionone p:hover{
    color:green;
}
figcaption{
    font-weight: bold;
    margin-left: 35px;
}
.button{
    background-color: #555555; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
}

.button:hover{
    color:yellow;
}
.smallPicture img{
    width:90%;
    height:auto;
    float: right;
    padding-right: 30px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
/*author-info and socialMedia*/
.socialMedia{
    float: right;
    padding-right: 40px;
    margin-top: 10px;
}
.fa {
  padding: 20px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
    background:#007bb5;
    color: white;
}
.avatar img{
    background-image: url(avatar.jpg);
    width: 20%;
    float: right;
    padding:0px 20px;
}
.author-info,h1,h2,h3{
    color:#333;
   
}
h1{
 text-align: center;
 color:red;
}
.author-info,p{
    padding:0px 20px;
}

.contactH3{
  font-family: Segoe UI;
  font-size: 14px;
  text-align: end;
  color:gray;
}