*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}
a,p,h1,h2,h3,h4,h5,h6{ 
    color:#000;
}
h1,h2,h3,h4,h5,h6{
    padding: 10px 20px 10px 20px;
}
.container{
    max-width: 900px;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

header{
background-color:yellowgreen;}
    
header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:30px;
}
.logo{
    color:#fff;
    cursor: pointer;   
    margin-right: auto;
}

header nav a{
    padding: 10px;
    color:#fff;
    text-decoration: none;
} 
header nav a:hover{
    color: orangered;
}
section{
    padding:20px;
}
section h2{
    color: red;
    padding:15px 0px 15px 0px;
}
main{
    float: left;
    width:70%;
}

main p {
     font-size:1.1rem ;
     line-height: 1.6rem;
     cursor: pointer;;
}

aside{
    float: right;
    width:25%;
}
aside h3{
    
    padding: 20px;
}
aside p{
    line-height: 1.5rem;
    margin-right:30px;
}
aside ul li{
    font-size: 1.1rem;
    line-height: 1.6rem;
    list-style: none;
    padding: 3px 0px 3px 0px;
}
aside ul {
    padding: 0px 20px 0px 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    width:100%;
}
footer a{
    color:#fff;
    padding:0px 10px 0px 10px;
}
footer p{
    color:#fff;
    padding:22px;
}
footer a:hover{
    color:blue;
}
.sectiontwo p:hover{
    color:yellowgreen;
}
.sectiontree p:hover{
    color:aqua;
}

.sectionfour p:hover{
    color:chocolate;
}

.sectionfive p:hover{
    color:gold;
}

.sectionone p:hover{
    color:green;
}

footer p:hover{
    cursor: pointer;
    color:orangered;
}

@media(max-width:320px){
    header{background-color: green};
        main{ 
            float: none;
            width:100%;
            }
        aside{
            float:none;
            width:100%;
            padding: 20px;
}
        footer{
    background-color: green;}
}
@media(min-width:901px){
    header{
    background-color: #333;
}
    }
    footer{
        background-color:#333;
    }


@media(min-width:600px) and (max-width:900px){
    header{
        background-color: red;
    }
    main{ 
        float: none;
        width:100%;
        }
    aside{
        float:none;
        width:100%;
        padding: 20px;}
    footer{
        background-color: red;
    }    
    .grid-item1,.grid-item2,.grid-item3,.grid-item4,.grid-item5
    {
        display: none;
    }}


.grid-container{
    display:grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows:100px 100px 200px;
    grid-gap:10px;
    justify-content: center;
    grid-template-areas: 
    "hd main main main"
    "sd ft ft ft "
    "dr dr dr dr";
 padding: 10px;
}

.grid-item1{
    grid-area: hd;
    background-color:paleturquoise;
    background-image: url(picture/forest1.jpg);
    background-size: cover;
}
.grid-item2{
    grid-area: main;
    background-color:paleturquoise;
    background-image: url(picture/forest2.jpg);
    background-size: cover;
}
.grid-item3{
    grid-area: sd;
    background-color:paleturquoise;
    background-image: url(picture/mountain.jpg);
    background-size: cover;
}
.grid-item4{
    grid-area: ft;
    background-color:paleturquoise;
    background-image: url(picture/sea.jpg);
    background-size: cover;
}
.grid-item5{
    grid-area: dr;
    background-color:paleturquoise;
    background-image: url(picture/seawater.jpg);
    background-size: cover;
}
.grid-item1,.grid-item2,.grid-item3,.grid-item4,.grid-item5{
    border:1px solid black;
    border-radius: 8px; 
}